* {
    margin: 0;
    box-sizing: border-box;
}

/* Add info */
.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    height: 400px;
    width: 320px;
    background-color: #f1f1f1;
}

.hidden {
    display: none;
    visibility: hidden;
}

header {
    text-align: center;
}

.header__weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5em;
    margin-bottom: 3em;
}

.header__weekdays>div {
    text-align: center;
}

.day__card {
    padding: 2em;
    border: 2px solid black;
}

.month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5em;
    margin-bottom: 3em;
}

.isToday {
    background-color: aqua;
}

.current-day{
    background-color: rgb(97, 97, 148);
}