* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../imgs/galaxy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Add info */
.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    height: 400px;
    width: 320px;
    background-color: #660276;
    color: #f1f1f1;
    border-radius: 7.5px;
}

.modal > form > h1 {
    height: 42px;
    background-color: #711481;
    border-radius: 7.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal > form > input, textarea{
    border-radius: 7.5px;
    border: 0.5px solid #000;
    width:-webkit-fill-available;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
    margin-top: 7.5px;
}

.modal > form > textarea {
    height: 100px;
}

.modal > form > button {
    background-color: #1DBF5E;
    border-radius: 7.5px;
    color: #f1f1f1;
    padding: 5px;
    width: 65px;
    border: 0.5px solid #000;
}

.hidden {
    display: none;
    visibility: hidden;
}

/* Grid layout */

.month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5em;
    margin-bottom: 3em;
}

.hidden {
    display: none;
    visibility: hidden;
}


.day__card {
    padding: 2em;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    background-color: #6500B5;
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.current-day {
    background-color: #8721D8;
}


/* header */

header {
    text-align: left;
    width: 100%;
    height: 46px;
    color: #f1f1f1;
    background-color: #711481;
    display: grid;
    grid-template-areas: 'title date';
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

.title {
    grid-area: title;
}

.header__date {
    grid-area: date;
    justify-content: center;
    display: flex;
}


.header__weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5em;
    background-color: #660276;
    color: #CAC0C0;
    height: 30px;
    align-items: center;
    padding-left: 35px;
}

.header__weekdays>div {
    text-align: center;
    background-color: #60046F;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.header__year {
    border-radius: 15px;
    border: 0.5px solid #f1f1f1;
    padding-left: 25px;
    padding-right: 25px;
}

/* calender */
.calendar__weeks {
    background-color: #660276;
    color: #CAC0C0;
    width: 35px;
    height: 100%;
    display: grid;
    grid-gap: 10px;
    justify-content: center;
}

.calendar__weeks > .weekNumber:not(.hidden) {
    background-color: #60046F;
    height: 150px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar__body {
    display: flex;
}


